[Unit]
Description=Hub and API services
After=network.target

[Service]
Environment=DOTNET_ROOT=/home/pi/.dotnet
Environment=PATH=$PATH:/home/pi/.dotnet'
WorkingDirectory=/home/pi/roberta/hub
ExecStart=/home/pi/roberta/hub/robhub
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
