[Unit]
Description=robcli service
After=network.target

[Service]
ExecStart=/home/pi/uv-roberta/src/Roberta.Client/Roberta.Client/publish/robcli

[Install]
WantedBy=multi-user.target
