<nav class="navbar navbar-expand-md fixed-top" style="background-color: #ffffffaa;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/images/roberta-24.webp" alt="Roberta" height="24" class="d-inline-block align-text-top">
            uv-roberta.com
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: space-between;">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">DASHBOARD</a>
                </li>
            </ul>
            <div>
                <LoginDisplay />
            </div>
        </div>
    </div>
</nav>

@code {
}