@page "/map"
@using Microsoft.AspNetCore.Http.Connections.Client
@using Microsoft.AspNetCore.SignalR.Client
@using Roberta.Io
@inherits BaseComponent

<div id="mapDiv" class="dash-cover"></div>

@code {
    protected override async Task OnInitializedAsync()
    {
        HubConnection!.On<GpsState>("GpsStateUpdated", gpsState =>
        {
            JSRuntime!.InvokeVoidAsync("dashboardMap.updateRobertaLocation", gpsState);
        });

        await HubConnection!.StartAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var apiKey = Configuration!.GetSection("MapKey").Value;
            await JSRuntime!.InvokeVoidAsync("dashboardMap.initializeMap", "mapDiv", apiKey);
        }
    }

    public void Dispose()
    {
        HubConnection?.DisposeAsync().AsTask().Wait();
    }
}