@using Microsoft.AspNetCore.SignalR.Client
@using Roberta.Io
@inherits BaseComponent

<div class="dash-channels">
    <table>
        <tbody>
            <tr>
                <td>Failsafe: </td>
                <td>@_RxState.InFailsafe</td>
            </tr>
            <tr>
                <td>Armed: </td>
                <td>@_RxState.IsArmed</td>
            </tr>
            @for (int i = 0; i < _RxState.ChannelValues.Count; i++)
            {
                <tr>
                    <td>Channel @((i+1).ToString("D2")): </td>
                    <td>@((_RxState.ChannelValues[i]).ToString(@"0000;-0000"))</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private RxState _RxState = new RxState();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        HubConnection!.On<RxState>("RxStateUpdated", rxState =>
        {
            _RxState = rxState;
            StateHasChanged();
        });

        await HubConnection!.StartAsync();
    }
}
