[Unit]
Description=robhub service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/uv-roberta/src/Roberta.Hub/Roberta.Hub/publish
ExecStart=robhub
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
